# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
dist/
build/
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/

# VS Code / PyCharm
.vscode/
.idea/

# Logs and debug
*.log
*.pot
*.mo
*.swp

# Environment files / secrets
.env
.env.*
*.secret
secrets.json

# macOS and Linux junk
.D

WUSL/wustl_iiot_2021.csv

WUSL/*.csv
WUSL/*.csv
*.csv

WUSL/wustl_iiot_2021.csv

